body {
  font-family: Overpass;
  background: #6694DA;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
}
h1{
    color: Blue;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  margin:  20px;
}
#profile-pic {
  border-radius: 50%;
}
  h2{
  font-family: Courier, monospace, serif;
  color: #41B45C;
  font-size: 20px;
}
a:hover {
  background-color: #A36060;
}
.container {
  width: 500px;
  margin: 0 auto;
}
div {
  display: block;
  padding: 50px;
  width: 500px;
  margin: 25px auto;
  border-radius: 5px;
}
.card{
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.btn-purple {
    background-color: purple;
    color: rgb(227, 60, 60);
    padding: 15px 20px;
    border-radius: 4px;
    transition: 0.3s ease;
  }

  @media (max-width: 960px) {
    /* Pour un écran < 960px, cette classe CSS s'applique */
    .container {
      width: 700px;
    }
  }

  @media (max-width: 720px) {
    /* Pour un écran < 720px, cette classe CSS s'applique */
    .container {
      width: 500px;
    }
  }

  @media (max-width: 540px) {
    /* Pour un écran < 540px, cette classe CSS s'applique */
    .container {
      width: 300px;
    }
  }
